.GraphHeader__heading {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 4px;
}

.GraphHeader__helperText { 
  text-align: center;
  margin: 0;
}