.circle {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.horz {
  height: 100%;
}

.ping {
  animation-duration: 0.5s;
  animation-name: ping;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}

@keyframes ping {
  from {
    background: rgba(83, 83, 83, 0);
  }
  to {
    background: rgb(83, 83, 83, 1);
  }
}
