.highlight {
  animation-duration: 0.5s;
  animation-name: vert;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  position: relative;
}

@keyframes vert {
  from {
    top: -3px;
  }

  to {
    top: 3px;
  }
}

.horizontal {
  transform: rotateZ(90deg);
  animation-name: horz;
}

@keyframes horz {
  from {
    left: -3px;
  }

  to {
    left: 3px;
  }
}
