@import '../index.css';

.Footer {
  background-color: var(--cDark);
  padding: 8px 0;
}
/* 
.Footer__Body {
  color: white;
  flex-direction: column;
  padding: 8px;
} */

.Footer__copyright {
  text-align: center;
}

.Footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.Footer__link  {
  display: inline-block;
  margin: 0 16px;
}

.Footer__link > a,
.Footer__link > a:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.Footer__link > a:hover,
.Footer__link > a:focus {
  text-decoration: underline;

}