/* Bar for horizontal resizing */
.HorizontalHandle {
  cursor: ew-resize;
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0.2s;
  stroke-width: 12px;
  stroke: #333;
  outline: none;
}

.ResizeHandleIndicator {
  height: 36px;
  width: 8px;
  border-radius: 4px;
  background-color: #ddd;
  transform: translate(-4px, -18px);
  z-index: 1;
  position: relative;
}

/* .HorizontalHandle:hover,
.HorizontalHandle:focus,
.HorizontalHandle:hover + .ResizeHandleIndicator,
.HorizontalHandle:focus + .ResizeHandleIndicator {
  opacity: 1;
  transition-delay: 0s;
} */

/* Circles for changing values. The central and corner ones share a lot of styles */
.ResizeVerticalHandle,
.ResizeCornerHandle {
  cursor: ns-resize;
  outline: none;
  transition: opacity 0.3s, stroke-width 0.3s;
  transition-delay: 0.2s;
  user-select: none;
}

/* Corner ones only show on hover/focus, unless the line is sloped */
.ResizeCornerHandle {
  opacity: 0;
}

.ResizeVerticalHandle:hover,
.ResizeVerticalHandle:focus,
.ResizeCornerHandle:hover,
.ResizeCornerHandle:focus {
  stroke-width: 3;
  opacity: 1;
}

.ResizeCornerHandle.visible,
.HorizontalHandle.visible {
  opacity: 1;
}
