:root {
  --bodyMaxWidth: 1200px;
  /* These must match what's defined in the theme in index.tsx */
  --cPrimaryLight: #8ECAE6;
  --cPrimary: #0d77b0;
  --cPrimaryDark: #02405f;

  --cSecondaryLight: #ffde8b;
  --cSecondary: #FFB703;
  --cSecondaryDark: #FB8500;
  --cDark: #24292e;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}


h1, h2 {
  margin: 0;
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: 16px;
}

/* This allows about 80 characters per line, which improves readibility */
p {
  max-width: 600px;
}

/* small adjustment to align a faulty icon to center */
.MuiSvgIcon-root[data-testid="ArrowBackIosIcon"] {
  position: relative;
  left: 4px;
}