:root {
  --bodyMaxWidth: 1200px;
  /* These must match what's defined in the theme in index.tsx */
  --cPrimary: #FFB703;
  /* --cPrimaryLight: #ffb851; */
  --cPrimaryDark: #FB8500;
  --cSecondary: #0d77b0;
  --cSecondaryLight: #8ECAE6;
  --cSecondaryDark: #02405f;
  --cDark: #24292e;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.LayoutBody {
  margin: 0 auto;
  max-width: var(--bodyMaxWidth);
  width: 100%;
  padding: 0 16px;
  display: flex;
}
