:root {
  --bodyMaxWidth: 1200px;
  /* These must match what's defined in the theme in index.tsx */
  --cPrimaryLight: #8ecae6;
  --cPrimary: #0d77b0;
  --cPrimaryDark: #02405f;

  --cSecondaryLight: #ffde8b;
  --cSecondary: #ffb703;
  --cSecondaryDark: #fb8500;
  --cDark: #24292e;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

dt {
  font-weight: bold;
}
dd,
li {
  margin-bottom: 1em;
}
ol,
ul {
  margin-bottom: 1.5em;
}

img {
  max-width: 100%;
}

/* small adjustment to align a faulty icon to center */
.MuiSvgIcon-root[data-testid='ArrowBackIosIcon'] {
  position: relative;
  left: 4px;
}

/* This style copied from the MDN documentation for kbd */
kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

@media print {
  .non-print {
    display: none !important;
  }
}