@import './index.css';

.PageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eee;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background-color: #eee;
}

.layoutContainer {
  margin: 0 auto;
  max-width: var(--bodyMaxWidth);
  width: 100%;
  padding: 0 16px;
}

.bodyContainer {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: white;
  padding: 16px;
}

@media all and (min-width: 600px) {
  .layoutContainer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .bodyContainer {
    padding: 32px;
  }
}

@media all and (min-width: 900px) {
  .layoutContainer {
    padding-left: 64px;
    padding-right: 64px;
  }
  .bodyContainer {
    padding: 64px;
  }
}