@import './index.css';

.PageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eee;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background-color: #eee;
}

/* WIP */
.bodyContainer {
  /* margin: 0 16px; */
  margin: 0 auto;
  padding: 32px;
  width: 100%;
  max-width: var(--bodyMaxWidth);
  background-color: white;
}