@import './index.css';

.PageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  /* background-color: var(--cPrimaryLight); */
}

.main {
  padding: 16px;
  flex-grow: 1;
}

.content {
  background-color: white;
  padding: 32px;
  margin: auto;
  width: 100%;
  max-width: var(--bodyMaxWidth);
}

/* @media all and (min-width: 900px) { 
  .content {
  }
} */