@import './index.css';

.PageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  /* background-color: var(--cPrimaryLight); */
}

.content {
  flex-grow: 1;
  max-width: var(--bodyMaxWidth);
  width: 100%;
  background-color: white;
  padding: 64px 32px;
  margin: 0 16px;
  align-self: center;
}